In [1]:
import pandas as pd

In [2]:
df_sales = pd.read_csv('../Data/SalesData.csv', delimiter=',', header='infer', encoding='latin-1')

In [3]:
df_sales.head(5)

,Date,Month,Quarter,Year,Qty,Product,Category,Cust.Name,Comp.Name,Pharmacy,Area Code,Code,Location
0,1-11-2015,11,Q4,2015,2,Injection 14,Skinbooster,Customer 1,Company 1,Pharmacy 1,NW3,NW,London
1,1-11-2015,11,Q4,2015,1,Injection 14,Skinbooster,Customer 1,Company 1,Pharmacy 1,NW3,NW,London
2,1-11-2015,11,Q4,2015,1,Injection 1,Dermafiller,NaN,NaN,Pharmacy 2,HA8,HA,Outside London M25
3,1-11-2015,11,Q4,2015,1,Injection 2,Dermafiller,NaN,NaN,Pharmacy 2,HA8,HA,Outside London M25
4,1-11-2015,11,Q4,2015,4,Injection 14,Skinbooster,NaN,NaN,Pharmacy 2,PE21,PE,"NorthEast, Midlands"

Changing the Quarter column from Q1 to 1, Q2 to 2, Q3 to 3 and Q4 to 4

In [4]:
df_sales['Quarter'].replace(to_replace = "Q1", 
                 value = 1, 
                  inplace = True)
df_sales['Quarter'].replace(to_replace = "Q2", 
                 value = 2, 
                  inplace = True)
df_sales['Quarter'].replace(to_replace = "Q3", 
                 value = 3, 
                  inplace = True)
df_sales['Quarter'].replace(to_replace = "Q4", 
                 value = 4, 
                  inplace = True)

In [9]:
print(df_sales['Quarter'].unique())

[4 1 2 3]

Drop columns: Cust.Name, Comp.Name, Area Code and Code

In [10]:
df_sales.drop('Cust.Name', axis=1, inplace=True)
df_sales.drop('Comp.Name', axis=1, inplace=True)
df_sales.drop('Area Code', axis=1, inplace=True)
df_sales.drop('Code', axis=1, inplace=True)

In [11]:
df_sales.head(50)

,Date,Month,Quarter,Year,Qty,Product,Category,Pharmacy,Location
0,1-11-2015,11,4,2015,2,Injection 14,Skinbooster,Pharmacy 1,London
1,1-11-2015,11,4,2015,1,Injection 14,Skinbooster,Pharmacy 1,London
2,1-11-2015,11,4,2015,1,Injection 1,Dermafiller,Pharmacy 2,Outside London M25
3,1-11-2015,11,4,2015,1,Injection 2,Dermafiller,Pharmacy 2,Outside London M25
4,1-11-2015,11,4,2015,4,Injection 14,Skinbooster,Pharmacy 2,"NorthEast, Midlands"
5,1-12-2015,12,4,2015,8,Injection 3,Dermafiller,Pharmacy 1,"Scotland, Newcastle"
6,1-12-2015,12,4,2015,4,Injection 2,Dermafiller,Pharmacy 1,"Scotland, Newcastle"
7,1-12-2015,12,4,2015,8,Injection 1,Dermafiller,Pharmacy 1,"Scotland, Newcastle"
8,1-12-2015,12,4,2015,1,Injection 1,Dermafiller,Pharmacy 2,London
9,1-12-2015,12,4,2015,1,Injection 2,Dermafiller,Pharmacy 2,"Scotland, Newcastle"
10,1-12-2015,12,4,2015,1,Injection 2,Dermafiller,Pharmacy 2,Outside London M25
11,1-12-2015,12,4,2015,1,Injection 3,Dermafiller,Pharmacy 2,London
12,1-12-2015,12,4,2015,1,Injection 5,Dermafiller,Pharmacy 2,"NorthEast, Midlands"
13,1-12-2015,12,4,2015,1,Injection 13,Mesotherapy,Pharmacy 2,Outside London M25
14,1-12-2015,12,4,2015,1,Mesotherapy Needles,Needles,Pharmacy 2,Outside London M25
15,1-12-2015,12,4,2015,2,Injection 14,Skinbooster,Pharmacy 2,"NorthEast, Midlands"
16,1-12-2015,12,4,2015,3,Injection 14,Skinbooster,Pharmacy 2,Outside London M25
17,1-12-2015,12,4,2015,1,Foundation 2,Skincare,Pharmacy 2,"NorthEast, Midlands"
18,1-12-2015,12,4,2015,2,Facemask,Skincare,Pharmacy 2,NorthWest
19,1-1-2016,1,1,2016,2,Injection 3,Dermafiller,Pharmacy 1,"Scotland, Newcastle"
20,1-1-2016,1,1,2016,2,Injection 2,Dermafiller,Pharmacy 1,"Scotland, Newcastle"
21,1-1-2016,1,1,2016,2,Injection 3,Dermafiller,Pharmacy 1,"Scotland, Newcastle"
22,1-1-2016,1,1,2016,2,Injection 1,Dermafiller,Pharmacy 1,"Scotland, Newcastle"
23,1-1-2016,1,1,2016,10,Injection 14,Skinbooster,Pharmacy 1,London
24,1-1-2016,1,1,2016,2,Injection 3,Dermafiller,Pharmacy 1,NorthWest
25,1-1-2016,1,1,2016,2,Injection 1,Dermafiller,Pharmacy 1,NorthWest
26,1-1-2016,1,1,2016,1,Injection 1,Dermafiller,Pharmacy 2,SouthEast
27,1-1-2016,1,1,2016,1,Injection 2,Dermafiller,Pharmacy 2,SouthWest
28,1-1-2016,1,1,2016,1,Injection 2,Dermafiller,Pharmacy 2,SouthEast
29,1-1-2016,1,1,2016,1,Injection 3,Dermafiller,Pharmacy 2,"Scotland, Newcastle"
30,1-1-2016,1,1,2016,1,Injection 3,Dermafiller,Pharmacy 2,SouthEast
31,1-1-2016,1,1,2016,1,Injection 5,Dermafiller,Pharmacy 2,SouthEast
32,1-1-2016,1,1,2016,4,Injection 5,Dermafiller,Pharmacy 2,NorthWest
33,1-1-2016,1,1,2016,4,Injection 5,Dermafiller,Pharmacy 2,NorthWest
34,1-1-2016,1,1,2016,4,Injection 5,Dermafiller,Pharmacy 2,"NorthEast, Midlands"
35,1-1-2016,1,1,2016,4,Injection 5,Dermafiller,Pharmacy 2,"Scotland, Newcastle"
36,1-1-2016,1,1,2016,1,Injection 13,Mesotherapy,Pharmacy 2,NorthWest
37,1-1-2016,1,1,2016,1,Injection 13,Mesotherapy,Pharmacy 2,Outside London M25
38,1-1-2016,1,1,2016,1,Injection 13,Mesotherapy,Pharmacy 2,Outside London M25
39,1-1-2016,1,1,2016,1,Mesotherapy Needles,Needles,Pharmacy 2,NorthWest
40,1-1-2016,1,1,2016,1,Mesotherapy Needles,Needles,Pharmacy 2,Outside London M25
41,1-1-2016,1,1,2016,1,Mesotherapy Needles,Needles,Pharmacy 2,Outside London M25
42,1-1-2016,1,1,2016,2,Injection 9,Skinbooster,Pharmacy 2,"NorthEast, Midlands"
43,1-1-2016,1,1,2016,10,Injection 14,Skinbooster,Pharmacy 2,SouthEast
44,1-1-2016,1,1,2016,3,Injection 14,Skinbooster,Pharmacy 2,"NorthEast, Midlands"
45,1-1-2016,1,1,2016,3,Injection 14,Skinbooster,Pharmacy 2,SouthEast
46,1-1-2016,1,1,2016,1,Injection 11,Skinbooster,Pharmacy 2,London
47,1-1-2016,1,1,2016,1,Facemask,Skincare,Pharmacy 2,"Scotland, Newcastle"
48,1-1-2016,1,1,2016,1,Facemask,Skincare,Pharmacy 2,SouthEast
49,1-1-2016,1,1,2016,1,Facemask,Skincare,Pharmacy 2,NorthWest