Importing library, loading data file and checking for null values

In [2]:
import pandas as pd

In [3]:
df_sales = pd.read_csv('C:/Users/galea/Downloads/2022/Dissertation/Dissertation/Data/Derma_Sales_Data.csv', delimiter=',', header='infer', encoding='latin-1')

In [21]:
df_sales.head(5)

,Data entry date,Pharmacy,Year,Month,Quarter,Product,Qty,Cust.Name,Comp.Name,Area Code,Sales Rep,Code,Location
0,23/06/2019,Direct Sales,2015,Nov-15,15-Q4,Viscoderm Trio,2,Dr Josevania Martins,Dr Vania Healthcare,NW3,blank,NW,4
1,23/06/2019,Direct Sales,2015,Nov-15,15-Q4,Viscoderm Trio,1,Dr Josevania Martins,Dr Vania Healthcare,NW3,blank,NW,4
2,19/10/2018,Church Pharmacy,2015,Nov-15,15-Q4,Aliaxin EV,1,NaN,NaN,HA8,blank,HA,5
3,19/10/2018,Church Pharmacy,2015,Nov-15,15-Q4,Aliaxin FL,1,NaN,NaN,HA8,blank,HA,5
4,19/10/2018,Church Pharmacy,2015,Nov-15,15-Q4,Viscoderm Trio,4,NaN,NaN,PE21,Rachel,PE,2

In [4]:
df_sales.isnull().sum()

Data entry date        0
Pharmacy               0
Year                   0
Month                  0
Quarter                0
Product                0
Qty                    0
Cust.Name          10390
Comp.Name          10390
Area Code              0
Sales Rep              0
Code                  43
Location               0
dtype: int64

In [5]:
df_sales[df_sales.isnull().any(axis=1)]

,Data entry date,Pharmacy,Year,Month,Quarter,Product,Qty,Cust.Name,Comp.Name,Area Code,Sales Rep,Code,Location
2,19/10/2018,Church Pharmacy,2015,Nov-15,15-Q4,Aliaxin EV,1,NaN,NaN,HA8,blank,HA,5
3,19/10/2018,Church Pharmacy,2015,Nov-15,15-Q4,Aliaxin FL,1,NaN,NaN,HA8,blank,HA,5
4,19/10/2018,Church Pharmacy,2015,Nov-15,15-Q4,Viscoderm Trio,4,NaN,NaN,PE21,Rachel,PE,2
8,19/10/2018,Church Pharmacy,2015,Dec-15,15-Q4,Aliaxin EV,1,NaN,NaN,NW3,blank,NW,4
9,19/10/2018,Church Pharmacy,2015,Dec-15,15-Q4,Aliaxin FL,1,NaN,NaN,SR3,Heather,SR,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68300,13/05/2022,John Bannon - Ireland,2022,Mar-22,22-Q1,Profhilo,18,Cosaint Skincare Ireland Ltd,Cosaint Skincare Ireland Ltd,0,blank,NaN,0
68308,13/05/2022,John Bannon - Ireland,2022,Mar-22,22-Q1,Profhilo,8,Eos Clinic (Skin Cosmetic Clinic),Eos Clinic (Skin Cosmetic Clinic),0,blank,NaN,0
68316,13/05/2022,John Bannon - Ireland,2022,Mar-22,22-Q1,Profhilo,2,Nicola Fagan,Nicola Fagan,0,blank,NaN,0
68317,13/05/2022,John Bannon - Ireland,2022,Mar-22,22-Q1,Profhilo,2,Chloe Hughes,Chloe Hughes,0,blank,NaN,0
68320,13/05/2022,John Bannon - Ireland,2022,Mar-22,22-Q1,Profhilo,1,Bianca Bandarra,Bianca Bandarra,0,blank,NaN,0